.game-ticket {
    .content {
        position: relative;
        .api-loading {
            position: absolute;
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.4);
            z-index: 100;
            border: 5px solid rgba(0, 0, 0, 0.5);
            .apiCallingGif {
                width: 180px;
                height: 120px;
                filter: drop-shadow(2px 4px 6px gold);
            }
            .loader{
                margin-top: 20px;
                font: normal bold 15px Raleway;
                letter-spacing: 2px;
                color: gold;
                animation: smokeOut 1.5s ease-in-out infinite alternate;

                &:before {
                    content: "Loading";
                }
            }
            
            @keyframes smokeOut {
                100% {
                    opacity: 0.08;
                    filter: blur(5px);
                    letter-spacing: 4px;
                }
            }
        }
        .priceUnitImg {
            width: 20px;
            height: 20px;
        }
        .detailView {
            width: 100%;
        }
        .backBtn {
            cursor: pointer;
            width: fit-content;
            margin: 0.5rem 0rem;
            display: flex;
            align-items: center;

            .backImg {
                width: 1.5rem;
                height: 1.5rem;
                filter: invert(100%);
            }
            color: white;
            .backText {
                font: normal bold 0.9rem Cinzel;
            }
            &:hover {
                .backImg {
                    filter: invert(70%) sepia(98%) saturate(415%) hue-rotate(333deg) brightness(102%) contrast(91%);
                }
                .backText {
                    color: rgb(255, 174, 0);
                }
            }
        }
        .detail-info {
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 600px) {
                flex-direction: column;
            }
            padding-bottom: 1rem;
            .ticket-info {
                width: 50%;
                display: flex;
                flex-direction: column;
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
                .info-spec {
                    display: flex;
                    align-items: center;
                    color: #DFDFDD;
                    padding: 5px 0px;
                    a {
                        width: 50%;
                        display: flex;
                        justify-content: flex-end;
                    }
                    .view-panel-mark {
                        margin: 5px 10px;
                    }
                    p {
                        margin: 5px 10px;
                        color: #ffbc00;
                    }
                }
                .revokeBtn {
                    margin-left: 10px;
                    transition: 0.2s all;
                    padding: 3px 10px;
                    font-size: 0.7rem;
                    background: rgb(110, 0, 0);
                    color: white;
                    box-shadow: 0px 0px 10px 1px white;
                    &:hover {
                        background: rgb(150, 15, 15);
                        color: white;
                    }
                }
            }
            .sell-panel {
                display: flex;
                flex-direction: column;
                width: 50%;
                @media screen and (max-width: 600px) {
                    width: 100%;
                    margin-top: 1rem;
                    padding-top: 1rem;
                    border-top: 1px solid rgb(255, 255, 255, 0.2);
                }
                .iconActionBar {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .sell-input {
                        margin-right: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        input {
                            width: 70px;
                            color: #ffbc00;
                            background: rgba(0, 0, 0, 0.5);
                            border-radius: 5px;
                            font: normal bold normal 17px Raleway;
                            padding: 3px 5px;
                            margin: 0px 1rem;
                            outline: none;
                            transition: 0.2s all;
                        }
                        .ticketCostInput {
                            border: 1px solid rgba(0, 225, 255, 0.5);
                            &:hover {
                                box-shadow: 0px 0px 5px 1px rgb(0, 225, 255);
                            }
                            &:focus {
                                border: 1px solid rgb(0, 225, 255);
                            }
                        }
                    }
                }
                .send-panel {
                    margin-top: 1rem;
                    padding-top: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top: 1px solid rgb(255, 255, 255, 0.2);
                    
                    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root, .css-i44wyl {
                        margin: 1rem;
                        background: rgba(0, 0, 0, 0.5);
                        width: calc(100% - 2rem);
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        &.Mui-disabled {
                            background: #2e2e2e;
                        }

                        .css-1wc848c-MuiFormHelperText-root.Mui-error {
                            animation: splash 1s linear 2s infinite alternate;
                        }
                        @keyframes splash {
                            from {
                                color: red;
                            }
                              to {
                                color: white;
                            }
                        }
                        label {
                            color: rgb(255, 230, 161);
                        }
                        .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:hover:not(.Mui-disabled):before, .css-17spqnz::before {
                            border-bottom: 1px solid rgb(255 255 255 / 87%) !important;
                        }
                        .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:before {
                            border-bottom: 1px solid rgb(255 255 255 / 42%);
                        }
                        .css-19mk8g1-MuiInputBase-root-MuiFilledInput-root:after, .css-17spqnz::after {
                            border-bottom: 2px solid #00ffff;
                        }
                        input {
                            color: #ffbc00;
                            font: normal normal normal 17px Raleway;
                            box-shadow: 0px -1px 5px 0px #00ffff;
                            border-top-right-radius: 10px;
                            border-top-left-radius: 10px;
                        }
                        p, .MuiFormHelperText-root, .css-1wc848c-MuiFormHelperText-root{
                            color: white;
                        }
                    }
                    button {
                        background: #006060;
                        color: white;
                        padding: 2px 5px;
                        font-weight: bold;
                        font-size: 12px;
                        &:hover {
                            background: #00a0a0;
                            color: white;
                        }
                    }
                }
            }
        }
        .iconAction {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0px 10px;
            p {
                color: #DFDFDD;
                font: normal normal normal 13px Raleway;
                margin: 0px;
            }
        }
        .iconBtn {
            padding: 10px;
            transition: .2s all;
            opacity: 1.0;
            svg {
                font-size: 30px;
            }
            
            &.viewBtn{
                background: #4262416b;
                svg {
                    font-size: 30px;
                    color: #77ff77;
                }
                &:hover {
                    background: #2f8f346b;

                    svg {
                        color: #00ff44;
                    }
                }
            }
            &.sellBtn{
                background: #5f62416b;
                svg {
                    color: #e5ff00cc;
                }
                &:hover {
                    background: #5f6241;

                    svg {
                        color: #e5ff00;
                    }
                }
            }
            &.unSellBtn{
                background: #6241416b;
                svg {
                    font-size: 30px;
                    color: #ff7777;
                }
                &:hover {
                    background: #8f2f2f6b;

                    svg {
                        color: #ff0000;
                    }
                }
            }
            &.deleteBtn{
                background: rgba(255, 0, 0, 0.3);
                svg {
                    font-size: 30px;
                    color: #cecece;
                }
                &:hover {
                    background: rgba(255, 0, 0, 0.5);

                    svg {
                        color: #ffffff;
                    }
                }
            }
        }
        .notAllowed {
            pointer-events: none;
            opacity: 0.4;
        }
    }
    .scroll-content {
        min-height: 300px;
        position: relative;
        @media screen and (max-width: 400px) {
            width: 100% !important;
            padding: 0rem !important;
        }
        .status {
            display: flex;
            align-items: center;
            justify-content: center;
            .status-mark {
                min-width: 60px;
                font-size: 10px;
                color: white;
                padding: 5px;
                border-radius: 5px;
                width: fit-content;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
            }
            .generated {
                background: #005a00;
                color: white;
            }
            .active {
                background: #00626c;
                color: white;
            }
            .deleted {
                background: rgb(80, 80, 80);
                color: white;
            }
            .sold, .sent {
                background: white;
                color: red;
            }
            .used {
                background: rgb(255, 217, 0);
                color: black;
            }
            .expired {
                background: rgb(107, 0, 0);
                color: white;
            }
        }
        .ticket-table {
            tr {
                th {
                    font: normal bold 0.85rem Raleway;
                    color: gold;
                    text-transform: uppercase;
                    padding: 0.8rem;
                }
                td {
                    color: #ffbc00;
                    font: normal normal 0.9rem Raleway;
                    word-break: break-word;
                    padding: 0.4rem;
                    .actionBtn {
                        padding: 5px;
                        transition: .2s all;

                        background: #4160626b;
                        svg {
                            font-size: 20px;
                            color: #77fff4;
                        }
                        &:hover {
                            background: #2f818f6b;

                            svg {
                                color: #00fff2;
                            }
                        }
                    }
                }
            }
            tbody {
                tr {
                    &:hover {
                        background: rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
        .pagination {
            padding: 0rem;
            margin: 0rem;
            margin-top: 10px;
        }
        .notAllowedText {
            font-size: 0.9rem;
            color: gray;
        }
    }
}