.roadmap{
    color: #882B21;
    padding-bottom: 10vmax;
    margin-left: 20px;
    margin-right: 20px;

    h2{
        font: normal normal normal 3.2rem Cinzel;
    }

    h3{
        font: normal normal normal 2rem Cinzel;
        white-space: pre-line;
    }

    p{
        font: normal normal normal 1.2rem Raleway;
    }

}