.team{
    padding-top: 10vmax;

    h2{
        margin: 0;
        font: normal normal normal 3.4rem Cinzel;
        color: #FFB13B;
    }

    .container{
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .member{
        margin-top: 100px;
        min-width: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;

        @media screen and (max-width: 600px) {
            margin-bottom: 50px;
        }

        h3{
            margin: 0;
            font: normal normal bold 1.2rem Raleway;
            color: #FFB13B;
            text-transform: uppercase;
        }
        p{
            margin: 0;
            font: normal normal normal 0.6rem Raleway;
            color: #DFDFDD;
            text-transform: uppercase;
        }
    }
      
    .pfp {
        width:200px;
        height:200px;
        object-fit:cover;
        border-radius:50%;

        margin-bottom: 30px;
        
        border: 3px solid #DFDFDD;
    } 

    .social-icon{margin-top: 15px;}
    .social-icon:hover{opacity: 0.8;}

    .call-to-action{
        margin-top: 200px;
        h2{
            font: normal normal normal 3rem Cinzel;
            margin-bottom: 30px;
            color: #FFB13B;
            white-space: pre-line;
        }
        .btn-a{
            border: 3px solid #FFB13B;
            color: #FFB13B;
            padding: 1.5rem 4rem;
            width: 60px;
            height: 18px;
            background: none;
            font: normal normal normal 1.8rem Cinzel;
            transform: perspective(510px) rotateX(24deg);
        }
        .btn-span{
            transform: perspective(240px) rotateX(-10deg);
        }
    
        .btn-a:hover{
            color: #295F90;
            background: #FFB13B ;
            transform: scale(0.9);
        }
    }
}